html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  text-align: left;
  display: inline-block;
  padding: 1em;
  vertical-align: middle;
  max-width: 25em;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

h2 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

p {
  display: block;
  text-align: left;
}

.main {
  text-align: left;
}

.btn {
  display: inline-block;
  padding: .4em .75em .5em;
  border-radius: 5px;
  border: 3px solid #333;
  text-decoration: none;
  text-align: left;
  color: #666;
}

.btn:hover {
  color: #fff;
  background-color: #333;
}
