html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  text-align: center;
  margin: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: inline-block;
  margin: 0;
}

div {
  display: inline-block;
  vertical-align: middle;
}

section {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

a {
  text-decoration: none;
  font-size: 1em;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
}

p {
  text-align: left;
}

.header {
  text-align: left;
  display: inline-block;
  padding: .5em 0 2em;
  padding-left: 2em;
  max-width: 25em;
}

.main {
  text-align: left;
}

.btn {
  display: inline-block;
  margin: 1em 0;
  padding: .5em;
  border-radius: 5px;
  border: 3px solid #333;
  text-decoration: none;
  text-align: left;
  color: #666;
}

.btn:hover {
  background-color: #333;
}

.btn:hover a {
  color: #fff;
}
